/**
 * file test.css
 */
html{background: #f9f6ec;}
body{-webkit-tap-highlight-color: transparent; -webkit-font-smoothing: antialiased; -webkit-user-select: none; -moz-user-select: none;}
.wrapper{max-width: 640px; margin: 0 auto;overflow: hidden;position: relative; padding-bottom: 35px;}

.lines-list{}
.lines-list li{margin: 10px;}
.lines-list li a{display: block; background: #fff; border-radius: 5px; overflow: hidden; box-shadow: 1px 1px 2px rgba(0,0,0,.1);}
.lines-list li dl{position: relative;padding:0 0 5px;}
.lines-list li dt{position: relative;margin-bottom: 5px;}
.lines-list li dt img{display: block; width: 100%; min-height: 100px;}
.lines-list li dt span{position: absolute; top: 10px; left: 10px; height: 20px; font-size: 12px; line-height: 20px; padding: 0 5px; color: #fff; background: rgba(0,0,0,.6); border-radius: 3px; overflow: hidden;}
.lines-list li dd.name{margin: 0 10px 2px; line-height: 20px; font-size: 14px; color: #333;}
.lines-list li dd.desc{margin: 0 10px 2px; line-height: 20px; font-size: 12px; color: #666;}
.lines-list li dd.price{height: 24px; line-height: 24px; font-size: 12px; color: #f63; margin: 0 10px;}
.lines-list li dd.price strong{font-size: 22px; font-weight: 500;}
.lines-list li dd.anchor,
.lines-list li dd.days{position: absolute; bottom: 10px; right: 10px; color: #666; font-size: 12px; height: 15px; line-height: 15px; padding: 0 0 0 15px; background: url(http://img1.40017.cn/cn/sl/snapping/qinzi/icon-clock.png) no-repeat 0 center; background-size: 10px 10px;}
.lines-list li dd.anchor{right: 80px; background-image: url(http://img1.40017.cn/cn/sl/snapping/qinzi/icon-anchor.png);}

.templates{display: none;}
