<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TEST</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta content="telephone=no" name="format-detection" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <link rel="stylesheet" href="http://css.40017.cn/cn/min/??/cn/sl/snapping/base.wxcard.css">
  <link rel="stylesheet" href="css/test.css">
</head>
<body>
  <div class="wrapper">
    <div class="page">
      <ul class="lines-list"></ul>
    </div>
  </div>
</body>
</html>
<script type="text/template" id="template-line">
  <a data-id="<%= id %>" href="http://m.ly.com/selftrip/line/<%= id %>/">
    <dl>
      <dt> <img src="<%= img %>" onerror="this.src='http://img1.40017.cn/cn/sl/snapping/def.png'"> <span><%= type %> | <%= age %></span> </dt>
      <dd class="name"><%= name %></dd>
      <dd class="desc"><%= desc %></dd>
      <dd class="price"><span>¥<strong><%= price %></strong></span>起</dd>
      <dd class="days"><%= days %></dd>
      <dd class="anchor"><%= city %></dd>
    </dl>
  </a>
</script>
<script src="js/lib/jquery/dist/jquery.js"></script>
<script src="js/lib/underscore/underscore.js"></script>
<script src="js/lib/backbone/backbone.js"></script>
<script src="js/test.js"></script>

